<div id="email-view">
  <h2><%= @email.object %></h2>

  <p><%= @email.body %></p>

  <%= link_to "Supprimer", email_path(@email), :confirm => "Are you sure?", method: :delete, class: "btn btn-danger", remote: true %>
  <%= link_to "Marquer comme non-lu", email_path(@email), method: "patch", id: "read-email" , class: "btn btn-info", remote: true%>
</div>