<div class="container">
  <h1 class="mb-3 text-center">"You've got mail"</h1>
</div>

<div class="container">
  <div class="text-center">
    <%= link_to "Recevoir un email", emails_path, method: :post, remote: true, class: "mb-3 btn btn-primary" %>
  </div>
  <div class="row">
    <div class=col-sm-5>

      <table class="table" id="email-list">
        <tr>
          <th style="width:100%" class="h2">Liste des emails</th>
        </tr>
        <% @emails.each do |email| %>
        <tr>
          <%= render 'email', email: email %>
        </tr>
        <% end %>
      </table>
    </div>

    <div class="col-7">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="h2">Content</th>
          </tr>
        </thead>
        <tbody id="object-email">

        </tbody>
      </table>
    </div>

  </div>
</div>